body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 2rem;  /* Padding dentro do container */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem; /* Espaçamento entre grupos de formulários */
}

.form-group label {
    margin-bottom: 0.5rem;
    color: #666;
}

.form-group input {
    width: calc(100% - 1.5rem); /* Garante que o input tenha margem igual dentro do container */
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-left: auto; /* Mantém a margem à esquerda alinhada */
    margin-right: auto; /* Mantém a margem à direita alinhada */
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}
